{% extends 'base.html' %}
{% block content %}
{{block.super}}

<h6>As the name suggests, memories is a storage of your best moments, and the worst, <br> if you so wish to share.</h6>
<p>
	Surprising new research about the act of remembering may help people with post-traumatic <br>
	 stress disorder. Memories are stored in a region of the brain called the hippocampus, <br>
	  shown in red in this computer illustration. (Photo Researchers, Inc.)
</p>
<div>
	<p>
		<span>S</span> itting at a sidewalk café in Montreal on a sunny morning, Karim Nader recalls the day eight years earlier when two planes slammed into the twin towers of the World Trade Center. He lights a cigarette and waves his hands in the air to sketch the scene.
Read more: https://www.smithsonianmag.com/science-nature/how-our-brains-make-memories-14466850/#YvSMlyC1ZzTykkfy.99
Give the gift of Smithsonian magazine for only $12! http://bit.ly/1cGUiGv
Follow us: @SmithsonianMag on Twitter
	</p>
</div>

{% endblock  %}
