{% extends 'base.html' %}

{% block content %}
{{block.super}}

<div class="container">
  <script>
    function copyToClipboard(element) {
      $(element).select();
      document.execCommand("copy");
    }
  </script>
    <!-- Looping through the images-->
    {% for image_item in images %}
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 container-fluid" style="display: flex;
        flex-wrap: wrap;" >
        <h3 style="font-size: 15px" class="text-center hd">{{ image_item.title }}</h3>

        <div id="myDIV">
            <h4 style="font-style: italic; font-size: 13px;" class="text-left hb">{{ image_item.descritption}}</h4>
        </div>

    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

       <img src="{{image_item.image.url}}" class="img-responsive img-fluid">
   </div>

   <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 padding-1">
    <input id="{{data.id}}-url" class="form-control input-md responsive" type="text"
    value="{{data.image.url}}">
  </div>

   {% empty %}
   <div class="row">
    <h5 class="text-center"> No new Art, please check in tommorrow. Meanwhile, past, work</h5>
</div>

<!-- modal -->
<div class="container">
  <h2>Modal Example</h2>
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>

<!-- modal -->
{% endfor %}
</div>
</div>
{% endblock %}

