{% extends 'base.html' %}
{% block content %}

<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="{% url 'nyumbani' %}">WebSiteName</a>
		</div>
		<ul class="nav navbar-nav">
			<li class="active"><a href="{% url 'nyumbani' %}">Home</a></li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false">Filter
			</a>
			<div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
				<a class="dropdown-item" href="{% url 'home' %}">Todays</a>
				<a class="dropdown-item" href="{% url 'search_results' %}">Category</a>
				<a class="dropdown-item" href="#">Location</a>
			</div>
		</li>
		<li><a href="#">Page 2</a></li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
		<li><a href=""><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
		<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	</ul>
</div>
</nav>


{% endblock content %}