{% extends 'base.html' %}
{% block content %}
{{block.super}}

 <div class="container-fluid">

  <div class="row">
    <div class="col-md-4 border-right element-animate">
            <div class="nav card flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false"><span></span> Kileleshwa</a>
              <img class="ccard-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRM_eLPT0NprMfHWJBdSDFAN9hHdZkQX_XN3XWQM4j2m51rvnv61g">
              <a href="#" class="card-link">See More</a>
            </div>
          </div>
          <div class="col-md-4 border-right element-animate">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false"><span></span> Average House Outlook </a>
              <img class="ccard-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqcWR5c3e5yXWK6m0pfQ3PqhAQ5xuV31pBHGJ-8q8K2BrONvi2cg">
              <a href="#" class="card-link">See More</a>
            </div>
          </div>
          <div class="col-md-4 border-right element-animate">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true"><span>
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDC3O0YaDSizgGMhRlfxuE5g7m0J5egRsAa9kgHn6GIIeaZf98">
              <a href="#" class="card-link">See More</a>

            </div>
          </div>
  </div>

   <div class="row">
     <img src="{{image.image.url}}"  class="img-responsive" alt="image">

     <h1 style="font-style: italic;" class="text-center hd">{{hood_name.title}}</h1>

     <p style="font-style: italic;">{{image.description}}</p>

     <p>Posted {{image.neighbor.pub_date|timesince}} ago by {{image.neighbor.name}}</p>
   </div>
 </div>
 {% endblock %}