{% extends 'base.html' %}
{% block content %}

	<div style="display: flex;" class="navbar-nav ml-auto nav-flex-icons container-fluid row">
		<nav class="mb-1 navbar navbar-expand-lg navbar-dark bg-light ">
			<div class="collapse navbar-collapse col-6 col-md-6 col-sm-6 col-lg-6" id="navbarSupportedContent-333">
					<ul class="navbar-nav mr-auto nav-tabs card-header-tabs">
							<li class="nav-item active">
								<a class="navbar-brand" href="{% url 'home' %}">NEIGHBOORHOOD</a>
							</li>
							<li class="nav-item">
								<a class="navbar-brand" href="{% url 'about' %}">About</a>
							</li>

							<li class="nav-item">
								<a class="navbar-brand" href="{% url 'blogging' %}">Blog</a>
							</li>
							
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
									aria-haspopup="true" aria-expanded="false">Location
								</a>
								<div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
									<a class="dropdown-item list-group-item" href="{% url 'home' %}">Kilimani</a>
									<a class="dropdown-item list-group-item" href="{% url 'search_results' %}">Jujamaica</a>
									<a class="dropdown-item list-group-item" href="#">Kileleshwa</a>
								</div>
							</li>
					</ul>
			</div>
			<div class="col-md-6 col-sm-6 col-7 text-right">
              <p class="mb-0">
                <a href="#" class="cta-btn" data-toggle="modal" data-target="#modalAppointment">NAVIGATE HOME</a></p>
            </div>
		</nav>
	</div>

	<div class="row">
		<nav class="row container-fluid">
				<div style="display: inline-flex;"  class="col-4 col-sm-4 col-md-4">
					<form style="float: left;" class="fl form-inline my-1 nav-item navbar-brand navbar-collapse" role="search" action="{% url 'search_results' %}">
						<div class="md-form form-sm my-0">
							<input class="form-control form-control-sm mr-sm-2 mb-0" type="text" placeholder="Search" name='image'
							aria-label="Search">
						</div>
						<button class="btn btn-outline-white btn-sm my-0 hidden" type="submit">Search Category
						</button>
					</form>
				</div>
				<div class="col-4 col-sm-4 col-md-4"></div>

				<div style="display: inline-flex;" class="col-4 col-sm-4 col-md-4 navbar-brand navbar-collapse">
						<h5 class="nav-item nav-link glyphicon glyphicon-user  mr-sm-5"><a  href="{% url 'register' %}"><span class=""></span> Sign Up</a></h5>
						<h5 class="nav-item nav-link glyphicon glyphicon-log-in mr-sm-5"><a  href="{% url 'login' %}"><span class=""></span> Login</a></h5>
				</div>
		</nav>
</div>

{% endblock content %}
