{% extends 'hood/base.html' %}
{% block content %}
{{block.super}}

 <div class="container-fluid">
  <div><h4 class="text-center">Kileleshwa</h4></div>

  <div class="row">
    <div class="col-md-4 border-right element-animate img-fluid">
            <div class="nav card flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false"><span></span> Kileleshwa</a>
              <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRM_eLPT0NprMfHWJBdSDFAN9hHdZkQX_XN3XWQM4j2m51rvnv61g">
              <a target="blank" href="https://www.buyrentkenya.com/news/kileleshwa-neighbourhood-guide/" class="card-link text-center">See More</a>
            </div>
          </div>
          <div class="col-md-4 border-right element-animate">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false"><span></span> Average House Outlook </a>
              <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqcWR5c3e5yXWK6m0pfQ3PqhAQ5xuV31pBHGJ-8q8K2BrONvi2cg">
              <a target="blank" href="https://www.buyrentkenya.com/news/kileleshwa-neighbourhood-guide/" class="card-link text-center">See More</a>
            </div>
          </div>
          <div class="col-md-4 border-right element-animate">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true"><span></span> Environments </a>
              <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDC3O0YaDSizgGMhRlfxuE5g7m0J5egRsAa9kgHn6GIIeaZf98">
              <a href="https://www.buyrentkenya.com/news/kileleshwa-neighbourhood-guide/" class="card-link text-center">Kileleshwa Neighbourhood Guide</a>

            </div>
          </div>
  </div>
  <hr>
  <div><h4 class="text-center">Kilimani</h4></div>
    <div class="row">
      <div class="col-md-4 border-right element-animate">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="false"><span></span> Kilimani </a>
              <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCczv-fHbcYA9S8oNicSnwe-c5yjhaZqgySKfVjMIBopmyXzvm">
              <a target="blank" href="https://www.remax-kenya.co.ke/_/Nairobi_Metropolitan/Nairobi/Kilimani" class="card-link text-center">See More</a>

            </div>
          </div>
         <div class="col-md-4 border-right element-animate">
            <div class="nav card flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="true"><span></span> Average House Outlook </a>
              <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdgdBaUUQiCes0Uh5Gy54AcAKDRB9vqHxq49n94qy-XecS7AQ6">
              <a target="blank" href="https://www.remax-kenya.co.ke/_/Nairobi_Metropolitan/Nairobi/Kilimani" class="card-link text-center">Neighbourhood Guide</a>
            </div>
          </div>
          <div class="col-md-4 border-right element-animate">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false"><span></span> Environments</a>
              <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKAhvv-FgSujhbXB_d45KBuO_9LpBtIY8cVWOzkEs8_HhnmKgT">
              <a target="blank" href="https://www.remax-kenya.co.ke/_/Nairobi_Metropolitan/Nairobi/Kilimani" class="card-link text-center">See More</a>
            </div>
          </div>
          
  </div>
  <hr class="mb-2 mt-1">

   <div class="row">
     <img src="{{image.image.url}}"  class="img-responsive" alt="image">

     <h1 style="font-style: italic;" class="text-center hd">{{hood_name.title}}</h1>

     <p style="font-style: italic;">{{image.description}}</p>

     <p>Posted {{image.neighbor.pub_date|timesince}} ago by {{image.neighbor.name}}</p>
   </div>
 </div>
 {% endblock %}